.pet-list-header {
    width: 1080px;
    background-color: blue;
}

.pet-list-header .header-option-item {
    background-color: olive;
    width: 50%;
}

.pet-list-header .selected-header-option-item {
    background-color: yellow;
    width: 50%;
}

@media (max-width: 1080px) {
    .pet-list-header {
        width: 100%
    }
}
